.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.time {
  width: 60px;
  height: 30px;
  border: 3px solid #000;
}

.face {
  width: 35px;
  height: 35px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 3px solid #000;
}

.back {
  display: flex;
  flex-wrap: wrap;
  background-color: #777;
}

.cover {
  width: 30px;
  height: 30px;
  background-color: #888;
  border: 3px outset #000;
}

.block {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #888;
  border: 3px solid #000;
}
